# Gradle
.gradle/
build/

# Local configuration files
local.properties

# Log/OS files
*.log
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/